* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif
}

body {
    background: #0b0b14;
    color: #fff
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #111528;
    border-bottom: 1px solid #2b2f45
}

.nav-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

input,
select {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    outline: none
}

/* Hero */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #111528, #191f38)
}

.hero h2 {
    font-size: 2.5rem
}

.cta-btn {
    margin-top: 12px;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background: #ff4d6d;
    cursor: pointer
}

/* Products */
.section-title {
    text-align: center;
    margin: 35px 0
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    padding: 0 30px 50px
}

.product-card {
    background: #151a2e;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #2b2f45;
    transition: .3s;
    position: relative
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px #0004
}

.product-card img {
    width: 100%;
    border-radius: 10px
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ffb703;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: .75rem
}

.actions {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 8px
}

.add-btn,
.fav-btn {
    padding: 7px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer
}

.add-btn {
    background: #17c964
}

.fav-btn {
    background: #ff4d6d
}

/* Cart */
.cart-popup {
    position: fixed;
    right: 20px;
    top: 80px;
    background: #151a2e;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #2b2f45;
    display: none;
    width: 270px
}

.cart-popup li {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: #8892bf
}